<span id="t"></span>
<div class="container">
  <h2 class="mt-4 text-center">Tajni Współpracownicy oraz oficerowie SB</h2>
  <div class="row py-4">
    <div class="col" >
      <p appSlideIn="left" [delay]="500">
        Informacje o tajnych współpracownikach przychodziły od 2005 roku.
      </p>
    </div>
  </div>
</div>
<app-thumbs-list jsonPath='other.tw0'></app-thumbs-list>
<app-thumbs-list jsonPath='other.tw1'></app-thumbs-list>
<app-thumbs-list jsonPath='other.tw2'></app-thumbs-list>
<app-thumbs-list jsonPath='other.tw3'></app-thumbs-list>
<app-thumbs-list jsonPath='other.tw4'></app-thumbs-list>
<app-thumbs-list jsonPath='other.tw5'></app-thumbs-list>
<span id="b"></span>