<div id="t" class="container">
  <h2 class="mt-4 text-center">Akta Michała Mireckiego</h2>
  <div class="row py-4">
    <div class="col" >
      <p appSlideIn="right" [delay]="500">
        Akta Michała Mireckiego obciążającego w zeznaniach Grupy Ulotkowe RKW Solidarność oraz mnie.
      </p>
    </div>
  </div>
</div>
<app-thumbs-list jsonPath='other.ukf1'></app-thumbs-list>
<app-thumbs-list jsonPath='other.ukf2'></app-thumbs-list>
<app-thumbs-list jsonPath='other.ukf3'></app-thumbs-list>
<span id="b"></span>