<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed no-printable">
  <div class="container">

    <a class="navbar-brand" routerLink="/">Teczka IPN</a>

    <button class="navbar-toggler" type="button" (click)="open = !open">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
         [class.show]="open">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/" (click)="open = false; ariaO = false; ariaI = false;">Start</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tom1" (click)="open = false; ariaO = false; ariaI = false;">Tom 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="tom2" (click)="open = false; ariaO = false; ariaI = false;">Tom 2</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownO" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" (click)="onDropdownO()">
            Pozostałe
          </a>
          <div class="dropdown-menu" [class.dropdown-show]="ariaO" aria-labelledby="navbarDropdownO">
            <a class="dropdown-item" routerLink="/other/kor" (click)="open = false; ariaO = false; ariaI = false;">KOR - "Gracze"</a>
            <a class="dropdown-item" routerLink="/other/bi" (click)="open = false; ariaO = false; ariaI = false;">Biuro Interwencji</a>
            <a class="dropdown-item" routerLink="/other/mazowsze" (click)="open = false; ariaO = false; ariaI = false;">Region Mazowsze</a>
            <a class="dropdown-item" routerLink="/other/gdansk" (click)="open = false; ariaO = false; ariaI = false;">Materiały z Gdańska</a>
            <a class="dropdown-item" routerLink="/other/ukf" (click)="open = false; ariaO = false; ariaI = false;">Nadajniki UKF</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/other/jail" (click)="open = false; ariaO = false; ariaI = false;">Więzienie</a>
            <a class="dropdown-item" routerLink="/other/tw" (click)="open = false; ariaO = false; ariaI = false;">TW i SBcy</a>
            <a class="dropdown-item" routerLink="/other/other" (click)="open = false; ariaO = false; ariaI = false;">Pozostałe materiały</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/other/pisma" (click)="open = false; ariaO = false; ariaI = false;">Korespondencja</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/indeks" (click)="open = false; ariaO = false; ariaI = false;">Indeks</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownI" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" (click)="onDropdownI()">
            Informacje
          </a>
          <div class="dropdown-menu" [class.dropdown-show]="ariaI" aria-labelledby="navbarDropdownI">
            <a class="dropdown-item" routerLink="/info" (click)="open = false; ariaO = false; ariaI = false;">O stronie</a>
            <a class="dropdown-item" routerLink="/kontakt" (click)="open = false; ariaO = false; ariaI = false;">Kontakt</a>
            <a class="dropdown-item" routerLink="/pomoc" (click)="open = false; ariaO = false; ariaI = false;">Pomoc</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
