<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed no-printable">
  <div class="container">

    <a class="navbar-brand" routerLink="/" (click)="open = false; ariaI = false; ariaII = false; ariaIII = false;">
      <div style="color: silver">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
          <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
        </svg>
      </div>
    </a>

    <button class="navbar-toggler" type="button" (click)="open = !open">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
         [class.show]="open">
      <ul class="navbar-nav">
        <!-- <li class="nav-item active">
          <a class="nav-link" routerLink="/" (click)="open = false; ariaI = false; ariaII = false; ariaIII = false;">Start</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/tom1" (click)="open = false; ariaO = false; ariaI = false;">Tom 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="tom2" (click)="open = false; ariaO = false; ariaI = false;">Tom 2</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownI" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" (click)="onDropdownI()">Dokumenty</a>
          <div class="dropdown-menu" [class.dropdown-show]="ariaI" aria-labelledby="navbarDropdownI">
            <a class="dropdown-item" routerLink="/doc/tom1" (click)="onClick()">Inżynier - tom1</a>
            <a class="dropdown-item" routerLink="/doc/tom2" (click)="onClick()">Inżynier - tom2</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/doc/kor" (click)="onClick()">KOR - "Gracze"</a>
            <a class="dropdown-item" routerLink="/doc/bi" (click)="onClick()">Biuro Interwencji</a>
            <a class="dropdown-item" routerLink="/doc/mazowsze" (click)="onClick()">Region Mazowsze</a>
            <a class="dropdown-item" routerLink="/doc/gdansk" (click)="onClick()">Materiały z Gdańska</a>
            <a class="dropdown-item" routerLink="/doc/ukf" (click)="onClick()">Nadajniki UKF</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/doc/jail" (click)="onClick()">Więzienie</a>
            <a class="dropdown-item" routerLink="/doc/tw" (click)="onClick()">TW i SBcy</a>
            <a class="dropdown-item" routerLink="/doc/intern" (click)="onClick()">Internowani</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/doc/pisma" (click)="onClick()">Korespondencja</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownII" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" (click)="onDropdownII()">Statystyki</a>
          <div class="dropdown-menu" [class.dropdown-show]="ariaII" aria-labelledby="navbarDropdownII">
            <a class="dropdown-item" routerLink="/stat/indeks" (click)="onClick()">Indeks nazwisk</a>
            <a class="dropdown-item" routerLink="/stat/links" (click)="onClick()">Powiązania</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownIII" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" (click)="onDropdownIII()">Informacje</a>
          <div class="dropdown-menu" [class.dropdown-show]="ariaIII" aria-labelledby="navbarDropdownIII">
            <a class="dropdown-item" routerLink="/info/info" (click)="onClick()">O stronie</a>
            <a class="dropdown-item" routerLink="/info/kontakt" (click)="onClick()">Kontakt</a>
            <a class="dropdown-item" routerLink="/info/pomoc" (click)="onClick()">Pomoc</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
