<div class="container printable">
    <h2 class="mt-4 text-center">Indeks nazwisk</h2>
    <div class="help-aera">
      <div class="help-image">
        <img src="@/../../../../assets/img/under-construction.jpg" width="204" height="86"/>
      </div>
      <div class="help-text">
        <p>
          Prace nad indeksem nazwisk przekroczyły półmetek. Niestety, praca jest żmudna.
          Trzeba przeczytać każdy dokument i albo wybrać z listy nazwisko osoby, która pojawiła się wcześniej,
          albo dodać nowe nazwisko. Kilkaset nazwisk zostało półautomatycznie
          dodanych po przepuszczeniu przez OCR listy internowanych ówczesnego województwa warszawskiego.
          Możliwe są zatem błędy typu cyfra jeden zamiast litery el. Innym problemem mogą być polskie znaki.
          W końcu są imiona zapisane w bazie danych na podstawie pierwszej litery.
        </p>
        <p>
          Dotychczasowe zaawansowanie tworzenia indeksu oceniam na 60%.
        </p>
        </div>
    </div>
    <div>
      <p>
        To, że ja i Ola pojawiamy się najczęściej nie powinno dziwić. Wszak teczka nas dotyczy. Dalej także bez niespodzianek:
        Jacek Kuroń, Zbigniew Romaszewski, Henryk Wujec, Adam Michnik i Jan Lityński. Wysoko plasują się oficerowie SB:
        Sebastian Sadoch i Zygmunt Wytrwał. Bardzo pracowici byli tajni współpracownicy: Krystyna Iwaszkiewcz i Lech Matul.
        Dalsze miejsca takich osób jak Anato Lawina, Mirosław Chojecki, Dariusz Kupiecki, Witold Łuczywo czy Teodor Klinewicz
        nie znaczą, że oni mniej dzałali. Po prostu ich zaangażowanie wymagało konspiracji, która na ogół się udawała.
      </p>
    </div>
    <div class="row py-4">
      <div class="col">
        <img src="../../../assets/img/sort-alpha.svg" id="sortAlpha" class="sort-inactive" (click)="sortAlpha()"/>
        &nbsp;
        <label for="sortAlpha">Sort. Alfa.</label>
        &nbsp;
        <img src="../../../assets/img/sort-num.svg" id="sortNum" class="sort-active" (click)="sortNum()"/>
        &nbsp;
        <label for="sortAlpha">Sort. Cyfr.</label>
        &nbsp;
        <br/>
        <br/>
        <img src="../../../assets/img/cb-on.svg" #selsb id="selSb" class="sort-active" (click)="selSb()"/>
        &nbsp;
        <label for="selSb">Aparat represji</label>
        &nbsp;
        <img src="../../../assets/img/cb-on.svg" #seltw id="selTw" class="sort-active" (click)="selTw()"/>
        &nbsp;
        <label for="selTw">Tajni Wsp.</label>
        &nbsp;
        <img src="../../../assets/img/cb-on.svg" #selop id="selOp" class="sort-active" (click)="selOp()"/>
        &nbsp;
        <label for="selOp">Opozycjoniści</label>
        &nbsp;
        <img src="../../../assets/img/cb-on.svg" #selit id="selIt" class="sort-active" (click)="selIt()"/>
        &nbsp;
        <label for="selIt">Internowani</label>
        <br/>
        <br/>
      </div>
      <div *ngIf="ready">
        <div *ngFor="let index of indexes" [class]="index.class">
            <b>{{index.name}}</b>
            <br/>
            <div *ngFor="let unit of index.units">
                <span>{{unit.display}}</span>
                <span *ngFor="let page of unit.pages; let i = index">
                <span *ngIf="i==0">: </span>
                <span *ngIf="i>0">, </span>
                <a [href]="unit.path+'/'+fillZeros(page)" target="_blank" class="link"><b>{{page}}</b></a>
                </span>
            </div>
      </div>
    </div>
</div>
</div>
