<div class="container printable">
    <h2 class="mt-4 text-center">Indeks nazwisk</h2>
    <div>
      <p>
        To, że ja i Ola pojawiamy się najczęściej nie powinno dziwić. Wszak teczka nas dotyczy. Dalej także bez niespodzianek:
        Jacek Kuroń, Zbigniew Romaszewski, Henryk Wujec, Adam Michnik i Jan Lityński. Wysoko plasują się oficerowie SB:
        Sebastian Sadoch i Zygmunt Wytrwał. Bardzo pracowici byli tajni współpracownicy: Krystyna Iwaszkiewcz i Lech Matul.
        Dalsze miejsca takich osób jak Anatol Lawina, Mirosław Chojecki, Dariusz Kupiecki, Witold Łuczywo czy Teodor Klincewicz
        nie znaczą, że oni mniej działali. Po prostu ich zaangażowanie wymagało konspiracji, która na ogół się udawała.
      </p>
      <p>
        Uwagi do filtrowania. W grupie "Aparat represji" są prokuratorzy, funkcjonariusze Służby Bezpieczeństwa, MO, wojska i służby
        więziennej. Tajni współpracownicy to również ci, którzy dobrowolnie składali zeznania obciążające swoje koleżanki i
        swoich kolegów z podziemia. Do opozycjonistów zaliczyłem osoby działające wtedy, kiedy groziły represje. Czyli przed
        31 sierpniem 1980 i po 13 grudnia 1981. Zaliczyłem do nich również represjonowanych w czasach Solidarności funkcjonariuszy MO.
        Wiele nieznanych mi nazwisk występuje wyłącznie na listach internowanych. To czwarta kategoria. Do piątej - zaliczyłem pozostałych
        wymienionych w dokumentach a np. byli zanotowani wyłącznie jako moi koledzy z pracy lub jedynie podpisali jakiś apel.
      </p>
      <p>
        Oczywiście kojarzę nazwiska większość tych, którzy działali przed 1980 rokiem
        i części osób z Regionu Mazowsze. W Białołęce poznałem sporo działaczy Solidarności. Ale było nas naprawdę wielu.
        Siedzieliśmy w dwóch barakach. Była pewna rotacja. Jedni wychodzili, inni zostali złapani później, niż 13 grudnia 1981.
        Końcówka listy internowanych jest pisana ręcznie. Niektórych nazwisk nie umiałem odczytać. Ale od czego ma się przyjaciół.
        Ludka Wujec wyłapywała powtórzenia, poprawiła kilkadziesiąt imion i nazwisk. Bardzo proszę również inne osoby, które
        trafią na stronę o zgłaszanie błędów.
      </p>
    </div>
    <div class="row py-4">
      <div class="col">
        <img src="../../../assets/img/sort-alpha.svg" id="sortAlpha" class="sort-inactive" (click)="sortAlpha()"/>
        &nbsp;
        <img src="../../../assets/img/sort-num.svg" id="sortNum" class="sort-active" (click)="sortNum()"/>
        &nbsp;
        <label for="sortAlpha">Sortowanie rekordów</label>
        &nbsp;
        <br/>
        <br/>
        <img src="../../../assets/img/cb-on.svg" #selsb id="selSb" class="sort-active" (click)="selSb()"/>
        &nbsp;
        <label for="selSb">Aparat represji</label>
        &nbsp;
        <img src="../../../assets/img/cb-on.svg" #seltw id="selTw" class="sort-active" (click)="selTw()"/>
        &nbsp;
        <label for="selTw">Tajni Wsp.</label>
        &nbsp;
        <img src="../../../assets/img/cb-on.svg" #selop id="selOp" class="sort-active" (click)="selOp()"/>
        &nbsp;
        <label for="selOp">Opozycjoniści</label>
        &nbsp;
        <img src="../../../assets/img/cb-on.svg" #selit id="selIt" class="sort-active" (click)="selIt()"/>
        &nbsp;
        <label for="selIt">Internowani</label>
        &nbsp;
        <img src="../../../assets/img/cb-on.svg" #selpz id="selPz" class="sort-active" (click)="selPz()"/>
        &nbsp;
        <label for="selPz">Pozostali</label>
        <br/>
        <br/>
      </div>
      <div *ngIf="ready">
        <div *ngFor="let index of indexes" [class]="index.class">
            <b>{{index.name}}</b>&nbsp;&nbsp;&nbsp;&nbsp;<small>[{{index.count}}]</small>
            <br/>
            <div *ngFor="let unit of index.units">
                <span>{{unit.display}}</span>
                <span *ngFor="let page of unit.pages; let i = index">
                <span *ngIf="i==0">: </span>
                <span *ngIf="i>0">, </span>
                <a [href]="unit.path+'/'+fillZeros(page)" target="_blank" class="link"><b>{{page}}</b></a>
                </span>
            </div>
      </div>
    </div>
</div>
</div>
