.help-aera {
    display: grid;
    grid-template-columns: repeat( 5, 1fr);
  }
  
  /* .help-aera > div {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  } */
  
  .help-image {
    background-color: transparent;
    grid-column-start: 1;
    padding: 10px;
  }
  
  .help-text {
    background-color: transparent;
    grid-column-start: 2;
    grid-column-end: span 3;
  }
  