<div id="t" class="container">
  <h2 class="mt-4 text-center">Korespondencja z IPNem</h2>
  <div class="row py-4">
    <div class="col" >
      <p appSlideIn="right" [delay]="500">
        Zestawienie korespondencji z Oddziałem Warszawskim Instytutu Pamięci Narodowej. Może któreś z pism mi umknęło.
        Z pewnoscią brakuje pierwotnego wniosku (zapewne) z 2001 roku o przekazanie mi zawartości teczki.
      </p>
    </div>
  </div>
</div>
<app-thumbs-list jsonPath='other.pisma'></app-thumbs-list>
<span id="b"></span>