<div id="t" class="container">
  <h2 class="mt-4 text-center">Demontracja przez Stocznią Gdańską</h2>
  <div class="row py-4">
    <div class="col" >
      <p appSlideIn="left" [delay]="500">
        Meteriały z gdańskiego IPN dostałem po kwerendzie w lipcu 2015 roku. Moje nazwisko zostało odnalezione w trzech
        teczkach prowadzonych przez tamtejsze SB.
      </p>
    </div>
  </div>
</div>
<app-thumbs-list jsonPath='other.gdansk1'></app-thumbs-list>
<app-thumbs-list jsonPath='other.gdansk2'></app-thumbs-list>
<app-thumbs-list jsonPath='other.gdansk3'></app-thumbs-list>
<span id="b"></span>