<div class="resume-details-wrapper">
      <div class="item-details-header text-center">
            <h2 class="item-details-title align-center printable" [innerHTML]="json.header"></h2>
            <div class="grid-container">
                  <div>
                        <!-- <a class="no-printable link" *ngIf="bPrev" (click)="toLeft()">
                              <img alt="back_arrow" src="/assets/img/prev.png">
                        </a> -->
                  </div>
                  <div class="printable">
                        <p class="item-details-caption text-muted align-center">{{json.description}}</p>
                        <p class="item-details-caption text-muted align-center">str. {{page}}</p>
                  </div>
                  <div>
                        <!-- <a class="no-printable link" *ngIf="bNext" (click)="toRight()">
                              <img alt="next_arrow" src="/assets/img/next.png">
                        </a> -->
                  </div>
            </div>
            <div class="container-img">
                  <div id="zoom-aera" class="printable" (click)="toZoomOut()" (window:resize)="onResize($event)">
                        <img id="pageImg" *ngIf="ready" [alt]=page src="{{json.pages + page + '.jpg'}}" (load)="imgLoad()">
                  </div>
                  <div id="cursors-aera" class="cursors-aera no-printable" [class.cursors-hide]="zoom">
                        <div class="cursors-home cursor-home" (click)="toHome()"></div>
                        <div class="cursors-list cursor-list" (click)="toList()"></div>
                        <div class="cursors-left" [class.cursor-left]="bPrev" (click)="toLeft()"></div>
                        <div class="cursors-zoom-in cursor-zoom-in" (click)="toZoomIn()"></div>
                        <div class="cursors-right" [class.cursor-right]="bNext" (click)="toRight()"></div>
                        <div class="cursors-print cursor-print" (click)="toPrint()"></div>
                  </div>
            </div>
      </div>
</div>