
<div class="container">
  <h2 class="mt-4 text-center">Jak powstawała ta strona...</h2>
  <div class="row py-4">
    <div class="col" >
      <p>
        Pierwsze materiały z IPNu dostałem 13 marca 2004. Czarnobiałe ksero zawartości trzech teczek zszyte kolorowym sznurkiem
        i opieczętowane. Moja kochana żona - Zosia pracowicie skanowała te kilkaset stron. Gdyby nie Jej poświęcenie przy
        ogłupiającym zajęciu nie miałbyś Drogi Internauto możliwości zapoznawania się z kawałkiem PRLu już na początku XXI wieku.
      </p>
      <p>
        W <b>C++</b> szybciutko napisałem program do skalowania zeskanowanych bitmap oraz generowania poszczególnych widoków do przeglądarki.
        Mogłem stworzyć pierwszą wersję <i>teczki</i>. Była 100% statyczna i  absolutnie prymitywna. Nie tylko z wyglądu.
        Pozwalała jedynie poruszać się pomiędzy poszczególnymi kartkami <i>teczki</i>.
        Co parę lat dostawałem uzupełnienia materiałów i wplatałem je w dotychczasową strukturę.
        To było tymczasowe...
      </p>
      <p>
        Jak każda prowizorka przetrwała lata i nawet uzyskała pełnoletność. Obecną wersję zrobiłem na początku 2023 roku.
        Jako edytora użyłem <b>Visual Studio Code</b>. Wykorzystałem framework <b>Angular</b>. Akurat ćwiczyłem jego 15 wersję
        i nową edycje strony zmajstrowałem jako wprawkę. Oczywiście strona była <b>responsive</b>. W plikach <b>HTML</b> roiło się
        od pętli <b>*ngFor</b>, czy warunków <b>*ngIf</b>. Obficie używałem <b>directives</b>, <b>decorators</b> i zagnieżdżonych <b>components</b>.
        Oczywiście zastosowałem <b>routing</b> i <b>animations</b>.
      </p>
      <p>
        Oparłem się natomiast pokusie komunikacji z bazą danych. To byłby przerost formy nad treścią. No bo cóż takiego mógłbym umieścić
        w bazie danych? Co najwyżej odnośniki do bitmap i teksty. Ale ponieważ szansa, że zmodyfikuję, lub kiedykolwiek dorzucę nowe
        materiały jest znikoma - zabawa z bazą danych na serwerze nie miałaby sensu. Spowalniałaby tylko dostęp.
        Niezbędne do wyświetlenia na wszystkich stronach dane oraz umożliwiające nawigację odnośniki umieściłem w plikach <b>JSON</b>.
        Poza <b>Angularem</b> angażowałem również <b>Visual Studio</b> w wersji <b>2022</b>. W <b>C#</b> napisałem procedury ekstrakcji
        obrazów i od nowa procedury skalowania bitmap.
      </p>
      <p>
        Miałem nowe materiały. Z <b>IPNu</b> dostałem w formie <b>PDF</b> kolorowe skany swojej teczki bez zamazanych nazwisk.
        Oprócz tego kilka plików <b>PDF</b> zawierających czarnobiałe skany dotyczących mnie fragmentów innych teczek.
        Były to miedzy innymi materiały na temat mojego udziału w manifestacji w grudniu 1979 przed Stocznią Gdańską,
        meldunki <b>TW</b> o konstruowanych przeze mnie w latach '80 nadajnikach UKF czy rozpracowywania przez
        <b>SB</b> Komitetu Obrony Robotników (<b>KOR</b>).
      </p>
      <p>
        Ta strona powstała pierwotnie jako prezentacja zawartości mojej teczki otrzymanej z IPNu. To były 2 tomy
        i kilka luźno powiązanych kartek jako tom 3. Później jednak dostawałem fragmenty teczek dotyczacych innych
        osób lub organizacji, które zostały uznane przez Służbę Bezpieczeństwa Polskiej Republiki Ldowej za zagrażające
        ówczesnemu porządkowi prawnemu i sojuszom z Krajem Miłującym Pokój. Struktura tej strony odzwierciedla kolejność
        otrzymywania materiałów. Najpierw dwa tomy mojej teczki, potem dotyczące mnie fragmenty innych teczek.
      </p>
      <p>
        Uwagi dotyczące kolorystyki. Szarobure elementy kojarzą mi się z niszczejącymi papierzyskami. W sam raz dla archiwaliów...
      </p>
      <p>
        Starą wersje teczki zostawiłem pod adresem <a class="link" href="https://old.teczka.sarata.pl" target="_blank">https://old.teczka.sarata.pl</a>.
      </p>
    </div>
  </div>
</div>
