<div id="t" class="container">
  <h2 class="mt-4 text-center">Krypornim "Graf" - Biuro Interwencji</h2>
  <div class="row py-4">
    <div class="col" >
      <p appSlideIn="right" [delay]="500">
        Meteriały z IPN dostałem po kwerendzie w lipcu 2015 roku. Moje nazwisko zostało odnalezione w dwóch
        teczkach prowadzonych przez SB.
      </p>
    </div>
  </div>
</div>
<app-thumbs-list jsonPath='other.bi1'></app-thumbs-list>
<app-thumbs-list jsonPath='other.bi2'></app-thumbs-list>
<span id="b"></span>