<div id="contact" class="container">
  <h2 class="mt-4 text-center">Informacje ogólne</h2>
  <hr>
  <div class="row py-4">
    <div class="col-12 p-2">
      <ol>
      <li>Serwis stanowi wyłączną własność Operatora, którym jest Zbigniew Sarata.</li>
      <li>Operator udostępnia Użytkownikom formularz przeznaczony do kontaktów z nim, na który Użytkownicy mogą kierować do Operatora wszelkie zapytania, sugestie, uwagi i informacje związane z korzystaniem lub funkcjonowaniem Serwisu.</li>
      <li>Korzystanie z Serwisu jest bezpłatne.</li>
      <li>Każdy Użytkownik przed rozpoczęciem korzystania z Serwisu zobowiązany jest do&nbsp;zapoznania się z Warunkami.</li>
      <li>Korzystanie z Serwisu oznacza akceptację i zobowiązanie do przestrzegania zasad Warunków.</li>
      <li>Logo i nazwa Serwisu są dobrami prawnie chronione i przysługują Operatorowi; jakiekolwiek wykorzystywanie logo lub nazwy Serwisu bez zgody Operatora, poza przypadkami dozwolonymi przepisami powszechnie obowiązującego prawa, jest zabronione i może skutkować natychmiastową reakcją Operatora.</li>
      <li>Autorskie prawa majątkowe do graficznych elementów Serwisu i innych treści w nim umieszczonych przez Operatora, stanowiących utwory w rozumieniu ustawy z dnia 4 lutego 1994 roku o prawie autorskim i prawach pokrewnych (t.j. Dz.U. 2006, Nr 90, poz. 631 z&nbsp;późn. zm.) a także do wyglądu Serwisu, jako całości, przysługują wyłącznie Operatorowi, lub innym podmiotom, od których Operator uzyskał stosowną licencję na korzystanie z&nbsp;utworów. W związku z powyższym, jakiekolwiek kopiowanie, powielanie, rozpowszechnianie i dokonywanie opracowań elementów Serwisu, a także wyglądu Serwisu, jako całości, bez wyraźnej pisemnej zgody Operatora lub odpowiednich osób trzecich, stanowi naruszenie majątkowych praw autorskich Operatora lub osób trzecich i może skutkować natychmiastową reakcją Operatora lub osób trzecich, z pociągnięciem naruszającego autorskie prawa majątkowe do odpowiedzialności odszkodowawczej włącznie.</li>
      <li>Nie stanowi naruszenia autorskich praw majątkowych Operatora cytowanie zawartych w Serwisie treści z jednoczesnym wskazaniem źródła pochodzenia tych treści.</li>
      <li>Operator zastrzega sobie prawo do umieszczania w Serwisie materiałów reklamowych, promocyjnych lub marketingowych pochodzących od Operatora lub osób trzecich.</li>
      </ol>
      &nbsp;
    </div>
  </div>

  <h2 class="mt-4 text-center">Warunki techniczne korzystania z Serwisu</h2>
  <hr>
  <div class="row py-4">
    <div class="col-12 p-2">
      W celu prawidłowego korzystania przez Użytkowników z usług dostępnych w Serwisie niezbędne jest łącznie:

      <ol>
      <li>połączenie z siecią Internet;</li>
      <li>posiadanie urządzeń pozwalających na korzystanie z zasobów sieci Internet;</li>
      <li>korzystanie z przeglądarki internetowej umożliwiającej wyświetlanie na ekranie urządzenia dokumentów hipertekstowych, powiązanych w sieci Internet przez sieciową usługę WWW oraz obsługującej język programowania JavaScript, a ponadto akceptującej pliki typu&nbsp;cookies;</li>
      </ol>
      &nbsp;
    </div>
  </div>

  <h2 class="mt-4 text-center">Polityka cookies</h2>
  <hr>
  <div class="row py-4">
    <div class="col-12 p-2">

    <ol>
    <li>Serwis nie zbiera w sposób automatyczny żadnych informacji, z wyjątkiem informacji zawartych w plikach cookies.</li>
    <li>Pliki cookies (tzw. „ciasteczka”) stanowią dane informatyczne, w szczególności pliki tekstowe, które przechowywane są w urządzeniu końcowym Użytkownika Serwisu i przeznaczone są do korzystania ze stron internetowych Serwisu. Cookies zazwyczaj zawierają nazwę strony internetowej, z której pochodzą, czas przechowywania ich na urządzeniu końcowym oraz unikalny&nbsp;numer .</li>
    <li>Podmiotem zamieszczającym na urządzeniu końcowym Użytkownika Serwisu pliki cookies oraz uzyskującym do nich dostęp jest operator Serwisu Zbigniew Sarata mieszkający&nbsp;w Warszawie, ul. Lanciego 9B, kod pocztowy 02-792.</li>
    <li>Serwis nie przechowuje żadnych informacji o użytkownikach za pomocą COOKIES. Ciasteczka mogą być używane jedynie przez statystyki lub do zapamiętywania stanu sesji zalogowanego użytkownika</li>
    <li>W wielu przypadkach oprogramowanie służące do przeglądania stron internetowych (przeglądarka internetowa) domyślnie dopuszcza przechowywanie plików cookies w urządzeniu końcowym Użytkownika. Użytkownicy Serwisu mogą dokonać w każdym czasie zmiany ustawień dotyczących plików cookies. Ustawienia te mogą zostać zmienione w szczególności w taki sposób, aby blokować automatyczną obsługę plików cookies w ustawieniach przeglądarki internetowej bądź informować o ich każdorazowym zamieszczeniu w urządzeniu Użytkownika Serwisu. Szczegółowe informacje o możliwości i sposobach obsługi plików cookies dostępne są w ustawieniach oprogramowania (przeglądarki internetowej).</li>
    <li>Operator Serwisu informuje, że ograniczenia stosowania plików cookies mogą wpłynąć na niektóre funkcjonalności dostępne na stronach internetowych Serwisu.</li>
    <li>Pliki cookies zamieszczane w urządzeniu końcowym Użytkownika Serwisu i wykorzystywane mogą być również przez współpracujących z operatorem Serwisu reklamodawców oraz partnerów.</li>
    <li>Więcej informacji na temat plików cookies dostępnych jest w sekcji „Pomoc” w menu przeglądarki internetowej.</li>
    </ol>
    &nbsp;
  </div>
</div>
